if SHIELD_NEXUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Nexus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NEXUS_LEFT || SHIELD_NEXUS_RIGHT

config ZMK_SPLIT
    default y

endif
